[user]
	name = Mohit Deshpande
	email = mohitd2000@gmail.com
[core]
	editor = vim
[push]
	default = simple
[alias]
	commend = commit --amend --no-edit
	st = status --short --branch
	merc = merge --no-ff
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
    la = "!git config -l | grep alias | cut -c 7-"
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    co = checkout
    cob = checkout -b
    a = add
    ap = add -p
    ac = "!git add . && git commit -am"
    rao = remote add origin
    pushitgood = push -u origin --all
